* {
    padding: 0;
    margin: 0;
  }
  .container {
    background-image: url('jap\ wave.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  img { 
    border-radius: 50%;
    width: 25%;
    height: 40%;
    margin-left: 7%;
  }
  h1 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 400%;
    margin-left: 2%;
  }
  h2 {
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 230%;
    margin-left: 1%;
  }
  h3 { 
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    text-align: center;
    margin-top: 5%;
  }
  h4 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    text-align: center;
    margin-top: 5%;
  }
  h5 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    text-align: center;
    margin-top: 5%;
  }
  p {
    color: black;
    font-family: courier;
    font-size: 135%;
    text-align: center;
  }